{% extends "__base.html" %}
{% load static %}
{% block main %}

    <section id="crambs" class="crambs">
        <div class="crambs-title">
            <svg width="390" height="69" viewBox="0 0 390 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.99986 0.468018H389.411L356.411 18.468H-26L6.99986 0.468018Z" fill="#537188" />
                <path d="M-85.0001 25.468H297.411L264.411 43.468H-118L-85.0001 25.468Z" fill="#537188" />
                <path d="M-172 50.468H210.411L177.411 68.468H-205L-172 50.468Z" fill="#537188" />
            </svg>
            <p class="crambs-title__text">Universitet haqida</p>
            <svg width="386" height="69" viewBox="0 0 386 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M212 0.468018H594.411L561.411 18.468H179L212 0.468018Z" fill="#537188" />
                <path d="M120 25.468H502.411L469.411 43.468H87L120 25.468Z" fill="#537188" />
                <path d="M32.9999 50.468H415.411L382.411 68.468H0L32.9999 50.468Z" fill="#537188" />
            </svg>
        </div>
        <div class="crambs-body">
            <div class="crambs-body__item">
                <a class="crambs-body__item_link" href="{% url 'main:index' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none">
                        <path
                            d="M7.54916 0.533177C8.38719 -0.173819 9.61281 -0.173819 10.4508 0.533177L17.2008 6.22772C17.7076 6.65523 18 7.28447 18 7.94747V17.7504C18 18.7169 17.2165 19.5004 16.25 19.5004H13.25C12.2835 19.5004 11.5 18.7169 11.5 17.7504V12.7504C11.5 12.3362 11.1642 12.0004 10.75 12.0004H7.25C6.83579 12.0004 6.5 12.3362 6.5 12.7504V17.7504C6.5 18.7169 5.7165 19.5004 4.75 19.5004H1.75C0.783502 19.5004 0 18.7169 0 17.7504V7.94747C0 7.28447 0.292405 6.65523 0.799155 6.22772L7.54916 0.533177Z"
                        />
                    </svg>
                </a>
                <div class="crambs-body__item_dot"></div>
                <a class="crambs-body__item_link" href="{% url 'main:flial' %}">Filial</a>
                <div class="crambs-body__item_dot"></div>
                <a class="crambs-body__item_link" href="{% url 'main:univerHaqida' %}">Universitet haqida</a>
            </div>
        </div>
    </section>

    <section id="aboutuniverView" class="aboutuniverView">
        <div class="container">
            <div class="item2">
                <div class="date">1918 - 1919</div>
                <img src="https://jbnuu.uz/storage/pages/January2022/img-1.jpg" alt="">
                <div class="text">
                    <div class="text-title">
                        Turkiston Musulmon xalq universiteti
                    </div>
                    <div class="text-body">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O'zbekiston Milliy universitetining tamal toshi 1918 yil 9 aprelda quyilgan. Shu kuni Turkiston
                        musulmon xalk dorulfununining tashkiliy hay'ati tuzulib, bir oy davomida 9 marotaba yig'ilish
                        o'tkazilgan va 1918 yil 3 mayda Munavvarqori Abdurashidxonov rais (rektor) etib saylangan.
                        Turkiston Musulmon xalq dorulfununi rasman ochilgan 1918 yil 12 may yangi zamonaviy ta'lim
                        tizimiga asos solingan tarixiy sana bo'lib qoldi. Universitetning tabiiy-matematika, qishloq
                        xo'jaligi, texnika, ijtimoiy iqtisod, adabiyot va falsafa fakultetlariga qisqa muddatda 299
                        o'qituvchi jalb etilgan. Ular orasida o'nlab taniqli shoir va adiblar, jadid maktablari uchun
                        yozilgan darsliklarning mualliflari, shuningdek, 20 ga yaqin turli fan sohalarining yetakchi
                        vakillari bor edi. Jumladan, Fitrat ona tilidan, Abdulla Avloniy adabiyot, Munavvarqori axloq,
                        Kamol Shamsi matematika, Burhon Habib siyosiy tarix fanlaridan dars bergan. <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;1918 yil 31 maydan universitet nashri bo'lgan «Xalk dorulfununi» gazetasi chop etila boshladi.
                        Shu yilning o'zida universitet tarkibida Turkiston xalq kutubxonasi, Turkiston xalq muzeyi, konservatoriya, Sharq instituti shakllandi. <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Turkiston musulmon xalk dorulfununi Turkiston hukumatining 1919 yil dekabrdagi qarori bilan
                        Turkiston Davlat universiteti (TDU) maqomiga ega bo'ldi va yangi taraqqiyot bosqichiga qadam
                        qo'ydi.
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock main %}