{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jbnuu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'news/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'announs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'newsview/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'announview/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'branch/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'aboutuniver/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'faculties/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'facultiesview/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'centerview/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'aboutuniverview/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'leading/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'history/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'structure/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'centers/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'jobs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'requisites/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/swiper-bundle.min.css' %}">

    <!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $(function () {
            $("#header").load('/templates/header.html');
            $("#navbar").load('/templates/navbar.html');
            $("#footer").load('/templates/footer.html');
        });
    </script> -->
</head>
<body class="parallax">

    {% include "__navbar.html" %}
        
    {% block main %}{% endblock main %}
    {% block news %}{% endblock news %}
    {% block announ %}{% endblock announ %}
    {% block counterV %}{% endblock counterV %}
    {% block fast-links %}{% endblock fast-links %}
    {% block systems %}{% endblock systems %}
    {% block sites %}{% endblock sites %}
    
    {% include "__footer.html" %}


    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="{% static 'main/js/swiper.js' %}"></script>
    <script src="{% static 'main/js/script.js' %}"></script>
</body>

</html>