{% extends "__base.html" %}
{% load static %}

{% block main %}
    <section id="main3">
        <div class="textbox">
            <div class="text" data-aos="fade-right" data-aos-duration="1200">
                <h2>
                    O'zbekistonning kelajakdagi muvaffaqiyati<br>
                    va barqaror rivojlanishi bevosita ta'lim <br>
                    tizimining sifati va kuchliligiga bog'liq <br>
                    ekanini ta'kidlaydi.
                </h2>
                <small>
                    Ta'lim orqali bilimli va malakali avlodni yetishtirish,<br>
                    mamlakatning ijtimoiy-iqtisodiy yuksalishi va milliy <br>
                    o'zlikni mustahkamlashga xizmat qiladi. <br>
                </small>
            </div>

            <div class="mainBtns" data-aos="fade-right" data-aos-duration="1200">
                <div class="mainBtn">
                    <div class="text">
                        <p>Abituriyent</p>
                        <svg id="dArrow" width="9" height="8" viewBox="0 0 9 8" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path id="arrow" d="M4.36084 8L0.0307121 0.5L8.69097 0.5L4.36084 8Z" fill="#204B6C" />
                        </svg>
                    </div>
                    <ul>
                        <li><a href="#" class="menuItem">Abituriyentga eslatma</a></li>
                        <li><a href="#" class="menuItem">Hujjatlar to'plami</a></li>
                        <li><a href="#" class="menuItem">Qabul 2024</a></li>
                        <li><a href="#" class="menuItem">Qabul nizomi</a></li>
                        <li><a href="#" class="menuItem">Qabul rejasi bakalavr</a></li>
                        <li><a href="#" class="menuItem">Qabul rejasi magistratura</a></li>
                        <li><a href="#" class="menuItem">Qabul rejasi sirtqi ta'lim</a></li>
                    </ul>
                </div>
                <div class="mainBtn">
                    <div class="text">
                        <p>Talabalar</p>
                        <svg id="dArrow" width="9" height="8" viewBox="0 0 9 8" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path id="arrow" d="M4.36084 8L0.0307121 0.5L8.69097 0.5L4.36084 8Z" fill="#204B6C" />
                        </svg>
                    </div>
                    <ul>
                        <li><a href="#" class="menuItem">Yo'riqnoma</a></li>
                        <li><a href="#" class="menuItem">Dars jadvali</a></li>
                        <li><a href="#" class="menuItem">Iqtidorli talabalar</a></li>
                        <li><a href="#" class="menuItem">Talabalar turar joyi</a></li>
                        <li><a href="#" class="menuItem">O'qishni ko'chirish va tiklash</a></li>
                        <li><a href="#" class="menuItem">Yakuniy nazoratlar</a></li>
                        <li><a href="#" class="menuItem">Stipendiyalar haqida ma'lumot</a></li>
                    </ul>
                </div>
                <div class="mainBtn">
                    <div class="text">
                        <p>Faoliyat</p>
                        <svg id="dArrow" width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path id="arrow" d="M4.36084 8L0.0307121 0.5L8.69097 0.5L4.36084 8Z" fill="#204B6C" /></svg>
                    </div>
                    <ul>
                        <li><a href="#" class="menuItem">Ilmiy faoliyat</a></li>
                        <li><a href="#" class="menuItem">O`quv faoliyati</a></li>
                        <li><a href="#" class="menuItem">Moliyaviy faoliyat</a></li>
                        <li><a href="#" class="menuItem">Ijtimoiy faoliyat</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="slider" data-aos="fade-left" data-aos-duration="1000">
                <div class="mainSwiper">
                    <div class="swiper-container mySwiper1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="{% static 'images/main/1.png' %}" alt="">
                                <a href="" class="item">
                                    <p>AMALIY MATEMATIKA FAKULTETI</p>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <img src="{% static 'images/main/2.png' %}" alt="">
                                <a href="" class="item">
                                    <p>SIRTQI BO‘LIM</p>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <img src="{% static 'images/main/3.png' %}" alt="">
                                <a href="" class="item">
                                    <p>PSIXOLOGIYA FAKULTETI</p>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <img src="{% static 'images/main/2.png' %}" alt="">
                                <a href="" class="item">
                                    <p>SIRTQI BO‘LIM</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box1" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <img src="{% static 'images/main/magister1.jpg' %}" alt="">
                <a href="" class="item">
                    <p>Magistratura</p>
                </a>
            </div>
            <div class="box2" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <img src="{% static 'images/main/magister.jpg' %}" alt="">
                <a href="" class="item">
                    <p>Doktorantura</p>
                </a>
            </div>
        </div>
    </section>
{% endblock main %}

{% block news %}
    <section id="news">
        <div class="header">
            <h2>Yangiliklar</h2>
            <div class="link">
                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"> 
                    <path d="M11.2007 6.258V9.258H14.2007V11.258H11.2007V14.258H9.20068V11.258H6.20068V9.258H9.20068V6.258H11.2007Z" fill="#537188" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.2007 0.257996C4.67784 0.257996 0.200684 4.73515 0.200684 10.258C0.200684 15.7808 4.67784 20.258 10.2007 20.258C15.7235 20.258 20.2007 15.7808 20.2007 10.258C20.2007 4.73515 15.7235 0.257996 10.2007 0.257996ZM2.20068 10.258C2.20068 5.83972 5.78241 2.258 10.2007 2.258C14.619 2.258 18.2007 5.83972 18.2007 10.258C18.2007 14.6763 14.619 18.258 10.2007 18.258C5.78241 18.258 2.20068 14.6763 2.20068 10.258Z" fill="#537188" />
                </svg>
                <a href="{% url 'main:news' %}"><h3>Barchasi</h3></a>
            </div>
        </div>
        <div class="container">
            {% for news in postNews %}
                {% if forloop.first %}
                    <!-- Birinchi yangilik uchun 'item1' -->
                    <div class="item item1" data-aos-duration="1000" data-aos="fade-right">
                        <img src="{{ news.photo.url }}" alt="{{ news.title }}">
                        <div class="body">
                            <div class="text">
                                <h6 class="date">{{ news.created|date:"d.m.Y" }}</h6>
                                <h4 class="discreption">{{ news.title|truncatewords:16 }}</h4>
                            </div>
                            <div class="btn">
                                <button><a href="{% url 'main:newsDetail' pk=news.pk %}" style="color:#fff">Batafsil</a></button>
                            </div>
                        </div>
                    </div>
                {% elif forloop.counter == 2 %}
                    <!-- Ikkinchi yangilik uchun 'item2' -->
                    <div class="item item2" data-aos-duration="1000" data-aos="fade-down">
                        <img src="{{ news.photo.url }}" alt="{{ news.title }}">
                        <div class="body">
                            <div class="text">
                                <h6 class="date">{{ news.created|date:"d.m.Y" }}</h6>
                                <h4 class="discreption">{{ news.title|truncatewords:12 }}</h4>
                            </div>
                            <div class="btn">
                                <button><a href="{% url 'main:newsDetail' pk=news.pk %}" style="color:#fff">Batafsil</a></button>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <!-- Qolgan yangiliklar uchun 'item3' va har uchinchi yangilikda qo'shimcha 'item4' -->
                    <div class="item item3" data-aos-duration="1000" data-aos="fade-left">
                        <img src="{{ news.photo.url }}" alt="{{ news.title }}">
                        <div class="body">
                            <div class="text">
                                <h6 class="date">{{ news.created|date:"d.m.Y" }}</h6>
                                <h4 class="discreption">{{ news.title|truncatewords:7 }}</h4>
                            </div>
                            <div class="btn">
                                <button><a href="{% url 'main:newsDetail' pk=news.pk %}" style="color:#fff">Batafsil</a></button>
                            </div>
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:3 %}
                        <!-- Har uchinchi yangilik uchun 'item4' qo'shiladi -->
                        <div class="item item4" data-aos-duration="1000" data-aos="fade-left">
                            <img src="{{ news.photo.url }}" alt="{{ news.title }}">
                            <div class="body">
                                <div class="text">
                                    <h6 class="date">{{ news.created|date:"d.m.Y" }}</h6>
                                    <h4 class="discreption">{{ news.title|truncatewords:7 }}</h4>
                                </div>
                                <div class="btn">
                                    <button><a href="{% url 'main:newsDetail' pk=news.pk %}" style="color:#fff">Batafsil</a></button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock news %}

{% block announ %}
    <section id="announ">
        <div class="header">
            <h2>E'lonlar</h2>
            <div class="link">
                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.2007 6.258V9.258H14.2007V11.258H11.2007V14.258H9.20068V11.258H6.20068V9.258H9.20068V6.258H11.2007Z" fill="#537188" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.2007 0.257996C4.67784 0.257996 0.200684 4.73515 0.200684 10.258C0.200684 15.7808 4.67784 20.258 10.2007 20.258C15.7235 20.258 20.2007 15.7808 20.2007 10.258C20.2007 4.73515 15.7235 0.257996 10.2007 0.257996ZM2.20068 10.258C2.20068 5.83972 5.78241 2.258 10.2007 2.258C14.619 2.258 18.2007 5.83972 18.2007 10.258C18.2007 14.6763 14.619 18.258 10.2007 18.258C5.78241 18.258 2.20068 14.6763 2.20068 10.258Z" fill="#537188" />
                </svg>
                <a href="{% url "main:announs" %}"><h3>Barchasi</h3></a>
            </div>
        </div>
        <div class="body">

            {% for announs in postAnnouns %}
                {% if forloop.first %}
                    <!-- Boshida 'itemBig' -->
                    <div class="item itemBig" data-aos="fade-right" data-aos-duration="1200">
                        <div class="header">
                            <img src="{{ announs.photo.url }}" alt="{{ announs.title }}">
                        </div>
                        <div class="body">
                            <h6 class="date">{{ announs.created|date:"d.m.Y" }}</h6>
                            <h4 class="discription">{{ announs.title|truncatewords:17 }}</h4>
                        </div>
                        <div class="footer">
                            <a href="{% url "main:elonDetail" pk=announs.pk %}" class="btn">Batafsil</a>
                        </div>
                    </div>
                {% elif forloop.last %}
                    <!-- Oxirida 'itemBig' -->
                    <div class="item itemBig" data-aos="fade-left" data-aos-duration="1200">
                        <div class="header">
                            <img src="{{ announs.photo.url }}" alt="{{ announs.title }}">
                        </div>
                        <div class="body">
                            <h6 class="date">{{ announs.created|date:"d.m.Y" }}</h6>
                            <h4 class="discription">{{ announs.title|truncatewords:17 }}</h4>
                        </div>
                        <div class="footer">
                            <a href="{% url "main:elonDetail" pk=announs.pk %}" class="btn">Batafsil</a>
                        </div>
                    </div>
                {% elif forloop.counter <= 5 %}
                    <!-- O'rtada 'itemSmall' -->
                    <div class="item itemSmall" data-aos="fade-left" data-aos-duration="1200">
                        <div class="header">
                            <img src="{{ announs.photo.url }}" alt="{{ announs.title }}">
                        </div>
                        <div class="body">
                            <h6 class="date">{{ announs.created|date:"d.m.Y" }}</h6>
                            <h4 class="discription">{{ announs.title|truncatewords:13 }}</h4>
                        </div>
                        <div class="footer">
                            <a href="{% url "main:elonDetail" pk=announs.pk %}" class="btn">Batafsil</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </section>
{% endblock announ %}

{% block counterV %}
    <section id="counterV" data-aos="zoom-in-up" data-aos-duration="1500">
        <video src="{% static 'video/IMG_2453.MP4' %}" autoplay muted  class="video"></video>
        <div class="value">
            <div class="header">
                <h2>Asosiy ko`rsatgichlar</h2>
            </div>
            <div class="body">
                {% for item in statistika %}
                <div class="item">
                    <h1 class="number">{{ item.number }}</h1>
                    <h3 class="text">{{ item.title }}</h3>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock counterV %}

{% block fast-links %}
    <section id="fast-links" class="fast-links" data-aos="zoom-in-up" data-aos-duration="1500">
        <div class="fast-links__header">
            <h2 class="fast-links__header_text">Tezkor havolalar</h2>
        </div>
        <div class="fast-links__body">
            {% for link in fastLinks %}
                <a href="{{ link.href }}" class="fast-links__body_item small_item">
                    <img src="{{ link.photo.url }}">
                    <div class="fast-links__body_item_text">{{ link.title }}</div>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock fast-links %}

{% block systems %}
    <section id="systems" data-aos="zoom-in-up" data-aos-duration="1500">
        <div class="header">
            <h2>Bizning tizimlar</h2>
        </div>
        <div class="body">
            <div class="box">
                <div class="btn systemLeft">
                    <svg width="14" height="26" viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12.9375 23.7037C13.3925 24.2217 13.3421 25.0103 12.825 25.4662C12.307 25.9212 11.5185 25.8709 11.0625 25.3537L1.0625 14.1037C0.647948 13.6318 0.647948 12.9256 1.0625 12.4537L11.0625 1.20373C11.3508 0.845803 11.8122 0.674945 12.2641 0.758817C12.716 0.842689 13.0854 1.16776 13.226 1.6053C13.3667 2.04284 13.2559 2.52227 12.9375 2.85373L3.67501 13.2787L12.9375 23.7037Z"
                            fill="#537188" />
                    </svg>
                </div>
            </div>
            <div class="swiper">
                <div class="systemSwiper">
                    <div class="swiper-container sysSwiper">
                        <div class="swiper-wrapper">

                            {% for site in mySites %}
                                <div class="swiper-slide">
                                    <a href="{{ site.href }}" class="item">
                                        <div class="value">
                                            <img src="{{ site.photo.url }}">
                                        </div>
                                        <div class="text">{{ site.title }}</div>
                                    </a>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="btn systemRight">
                    <svg width="14" height="26" viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M13.1055 14.1039L3.10547 25.3539C2.64952 25.8711 1.86097 25.9214 1.34297 25.4664C0.825841 25.0105 0.775508 24.2219 1.23047 23.7039L10.493 13.2789L1.23047 2.85393C0.810719 2.33278 0.87583 1.57351 1.37818 1.13144C1.88053 0.689369 2.64192 0.721322 3.10547 1.20393L13.1055 12.4539C13.52 12.9258 13.52 13.632 13.1055 14.1039Z"
                            fill="#537188" />
                    </svg>
                </div>
            </div>
        </div>
    </section>
{% endblock systems %}

{% block sites %}
    <section id="sites" data-aos="zoom-in-up" data-aos-duration="1500">
        <div class="header">
            <h2>Foydali saytlar</h2>
        </div>
        <div class="body">
            <div class="box">
                <div class="btn sitLeft">
                    <svg width="14" height="26" viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12.9375 23.7037C13.3925 24.2217 13.3421 25.0103 12.825 25.4662C12.307 25.9212 11.5185 25.8709 11.0625 25.3537L1.0625 14.1037C0.647948 13.6318 0.647948 12.9256 1.0625 12.4537L11.0625 1.20373C11.3508 0.845803 11.8122 0.674945 12.2641 0.758817C12.716 0.842689 13.0854 1.16776 13.226 1.6053C13.3667 2.04284 13.2559 2.52227 12.9375 2.85373L3.67501 13.2787L12.9375 23.7037Z"
                            fill="#537188" />
                    </svg>
                </div>
            </div>
            <div class="swiper">
                <div class="sitetemSwiper">
                    <div class="swiper-container sitSwiper">
                        <div class="swiper-wrapper">
                            
                            {% for usefulSite in usefulSites %}
                                <div class="swiper-slide">
                                    <a href="{{ usefulSite.href }}" class="item">
                                        <div class="value">
                                            <img class="size" src="{{ usefulSite.photo.url }}" alt="">
                                        </div>
                                        <div class="text">{{ usefulSite.title }}</div>
                                    </a>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="btn sitRight">
                    <svg width="14" height="26" viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M13.1055 14.1039L3.10547 25.3539C2.64952 25.8711 1.86097 25.9214 1.34297 25.4664C0.825841 25.0105 0.775508 24.2219 1.23047 23.7039L10.493 13.2789L1.23047 2.85393C0.810719 2.33278 0.87583 1.57351 1.37818 1.13144C1.88053 0.689369 2.64192 0.721322 3.10547 1.20393L13.1055 12.4539C13.52 12.9258 13.52 13.632 13.1055 14.1039Z" fill="#537188" /></svg>
                </div>
            </div>
        </div>
    </section>
{% endblock sites %}
