{% load static %}
<div id="footer" data-aos="fade-up" data-aos-duration="1200">
    <div class="img">
        <img class="img1" src="{% static 'images/Footer/img1.png' %}" alt="">
        <img class="img2" src="{% static 'images/Footer/img2.png' %}" alt="">
        <img class="img3" src="{% static 'images/Footer/img3.png' %}" alt="">   
    </div>
    <div class="footer">
        <div class="body">
            <div class="logoItem">
                <div>
                    <img class="itemLogo" src="{% static 'images/logo_white.png' %}" alt="">
                    <p class="itemText">
                        Mirzo Ulug‘bek nomidagi <br>
                        O`zbekiston Milliy universiteti <br>
                        Jizzax filiali
                    </p>
                </div>
            </div>
            <div class="group">
                <div class="fItem">
                    <div class="header">
                        <p>Bog`lanish uchun</p>
                        <div class="line"></div>
                    </div>
                    <div class="body">
                        <a href="" class="item">
                            <div class="logo">
                                <img src="{% static 'images/Footer/email.svg' %}" alt="">
                            </div>
                            <div class="text">info@jbnuu.uz</div>
                        </a>
                        <a href="" class="item">
                            <div class="logo">
                                <img src="{% static 'images/Footer/phone.svg' %}" alt="">
                            </div>
                            <div class="text">(998) 72-226-01-70</div>
                        </a>
                        <a href="" class="item">
                            <div class="logo">
                                <img src="{% static 'images/Footer/fax.svg' %}" alt="">
                            </div>
                            <div class="text">(998) 72-226-01-70</div>
                        </a>
                        <a href="" class="item" style="align-items: start;">
                            <div class="logo">
                                <img src="{% static 'images/Footer/clock.svg' %}" alt="">
                            </div>
                            <div class="text">Ish kuni: Dushanba-Shanba Ish vaqti: 8:30-12:30 13:30-16:30</div>
                        </a>
                    </div>
                </div>
                
                <div class="fItem">
                    <div class="header">
                        <p>Ijtimoiy tarmoqlarda</p>
                        <div class="line"></div>
                    </div>
                    <div class="body">
                        <a href="" class="item">
                            <div class="logo">
                                <img src="{% static 'images/Footer/telegram.svg' %}" alt="">
                            </div>
                            <div class="text">info@jbnuu.uz</div>
                        </a>
                        <a href="" class="item">
                            <div class="logo">
                                <img src="{% static 'images/Footer/instagram.svg' %}" alt="">
                            </div>
                            <div class="text">Instagram  ijtimoy sahifamiz</div>
                        </a>
                        <a href="" class="item">
                            <div class="logo">
                                <img src="{% static 'images/Footer/facebook.svg' %}" alt="">
                            </div>
                            <div class="text">Facebook  ijtimoy sahifamiz</div>
                        </a>
                        <a href="" class="item">
                            <div class="logo">
                                <img src="{% static 'images/Footer/youtube.svg' %}" alt="">
                            </div>
                            <div class="text">Youtube kanalimiz</div>
                        </a>
                        <a href="" class="item">
                            <div class="logo">
                                <img src="{% static 'images/Footer/tg_bot.svg' %}" alt="">
                            </div>
                            <div class="text">Murojaatingizni telegram <br> botimizga qoldiring</div>
                        </a>
                    </div>
                </div>
                
                <div class="fItem">
                    <div class="header">
                        <p>Manzil</p>
                        <div class="line"></div>
                    </div>
                    <div class="body">
                        <a href="" class="item" style="align-items: start;">
                            <div class="logo">
                                <img src="{% static 'images/Footer/location.svg' %}" alt="">
                            </div>
                            <div class="text">Mirzo Ulug‘bek nomidagi O‘zbekiston Milliy 
                                              universitetining Jizzax filiali 130100, Jizzax 
                                              viloyati, Jizzax shahri Sh.Rashidov shox 
                                              ko'chasi, 259 uy</div>
                        </a>
                        <a href="" class="item" style="width: 100%; align-items: center; justify-content: center;">
                            <div class="android">
                                <img src="assets/images/Footer/android.svg" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyRight">
            Copyright © 2024 Mirzo Ulug‘bek nomidagi O‘zbekiston milliy universiteti 
            Jizzax filiali. Sayt test rejimida ishlamoqda.
        </div>
    </div>       

</div>