<div>
    <div class="symbols">
        <a href="#">
            <img style="width: 2rem;" src="../assets/images/Flag_of_Uzbekistan.svg" alt="">
        </a>
        <a href="#">
            <img src="../assets/images/Emblem_of_Uzbekistan.svg" alt="">
        </a>
        <a href="#">
            <img src="../assets/images/nota.svg" alt="">
        </a>
    </div>
    
    <div class="links">
        <a href="#">
            <img style="width: 1.2rem;" src="../assets/images/Calendar.svg" alt="">
            <h6>17.08.2024, shanba 17:00</h6>
        </a>
        <a href="#">
            <img src="../assets/images/table.svg" alt="">
            <h6>Talabalar dars jadvali</h6>
        </a>
        <a href="#">
            <img src="../assets/images/e-book.svg" alt="">
            <h6>Elektron kutubxona</h6>
        </a>
    </div>
    
    <div class="search">
        <i class="search__icon fa fa-search"></i>
        <input type="search" class="search__input" 
        placeholder="Qidiruv">
    </div>
    
    <div class="language">
        <div class="box">
            <img src="../assets/images/language.svg" alt="">
            <div class="lang">
                <h6>Uz</h6>
                <p>|</p>
                <h6>Ru</h6>
                <p>|</p>
                <h6>En</h6>
            </div>
        </div>
    </div>
</div>