<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jbnuu-Yangiliklar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/main/css/style.css">
    <link rel="stylesheet" href="../assets/news/css/style.css">
    <link rel="stylesheet" href="../assets/main/css/swiper-bundle.min.css" />
</head>

<body>
    <div id="header">
        <div>
            <div class="symbols">
                <a href="#">
                    <img style="width: 2rem;" src="assets/images/flag.png" alt="">
                </a>
                <a href="#">
                    <img src="assets/images/gerb.png" alt="">
                </a>
                <a href="#">
                    <img src="assets/images/nota.svg" alt="">
                </a>
            </div>

            <div class="links">
                <a href="#">
                    <img style="width: 1.2rem;" src="assets/images/Calendar.svg" alt="">
                    <h6>17.08.2024, shanba 17:00</h6>
                </a>
                <a href="#">
                    <img src="assets/images/table.svg" alt="">
                    <h6>Talabalar dars jadvali</h6>
                </a>
                <a href="#">
                    <img src="assets/images/e-book.svg" alt="">
                    <h6>Elektron kutubxona</h6>
                </a>
            </div>

            <div class="search">
                <i class="search__icon fa fa-search"></i>
                <input type="search" class="search__input" placeholder="Qidiruv">
            </div>

            <div class="language">
                <div class="box">
                    <img src="assets/images/language.svg" alt="">
                    <div class="lang">
                        <h6>Uz</h6>
                        <p>|</p>
                        <h6>Ru</h6>
                        <p>|</p>
                        <h6>En</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="navbar">
        <a href="../index.html" class="logoItem">
            <img class="logo" src="../assets/images/logo.png" alt="">
            <p class="logoText">
                MIRZO ULUG‘BEK NOMIDAGI <br>
                O‘ZBEKISTON MILLIY UNIVERSITETI <br>
                JIZZAX FILIALI <br>
            </p>
        </a>

        <div class="connect">
            <div class="item">
                <img src="../assets/images/call_center 1.svg" alt="">
                <div class="number">
                    <p>72-226-01-71</p>
                </div>
            </div>

            <div class="item">
                <img src="../assets/images/phone.svg" alt="">
                <div class="number">
                    <p>72-226-01-71</p>
                    <p>72-226-01-71</p>
                </div>
            </div>
        </div>

        <div class="navBtns">
            <div class="navBtn btn1">
                <div class="text">
                    <p>Yangiliklar</p>
                    <img src="../assets/images/dropdowArrow.svg" alt="">
                </div>
                <ul class="menu">
                    <li>
                        <a href="#" class="menuItem">Yangiliklar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">E'lonlar</a>
                    </li>
                </ul>
            </div>
            <div class="navBtn btn2">
                <div class="text">
                    <p>Filial</p>
                    <img src="../assets/images/dropdowArrow.svg" alt="">
                </div>
                <ul class="menu">
                    <li>
                        <a href="#" class="menuItem">Universitet haqida</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Filial tarixi</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Filial tuzilmasi</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Filial kengashi</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Rahbariyat</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Markazlar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Bo'limlar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Karyera markazi</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Sektorlar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Fakultetlar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Kafedralar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Bo‘sh ish o‘rinlari</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Bino inshoatlar joylashuvi</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Rekvizitlar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Asosiy me'yoriy hujjatlar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Manfaatlar to'qnashuvi to'g'risida</a>
                    </li>
                </ul>
            </div>
            <div class="navBtn btn3">
                <div class="text">
                    <p>Qabul-2024</p>
                    <img src="../assets/images/dropdowArrow.svg" alt="">
                </div>
                <ul class="menu">
                    <li>
                        <a href="#" class="menuItem">Imtihon natijalari 2024-2025</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Filial tarixi</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Filial tuzilmasi</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Filial kengashi</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Rahbariyat</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Markazlar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Bo'limlar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Karyera markazi</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Sektorlar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Fakultetlar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Kafedralar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Bo‘sh ish o‘rinlari</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Bino inshoatlar joylashuvi</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Rekvizitlar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Asosiy me'yoriy hujjatlar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Manfaatlar to'qnashuvi to'g'risida</a>
                    </li>
                </ul>
            </div>
            <div class="navBtn btn4">
                <div class="text">
                    <p>Doktorantura</p>
                    <img src="../assets/images/dropdowArrow.svg" alt="">
                </div>
            </div>
            <div class="navBtn btn5">
                <div class="text">
                    <p>Interaktiv xizmatlar</p>
                    <img src="../assets/images/dropdowArrow.svg" alt="">
                </div>
            </div>
        </div>
    </div>


    <section id="newst" class="newst">
        <div class="container">
            <div class="newst-item">
                <img src="../assets/images/news/1.png" alt="">
                <div class="body">
                    <div class="text">
                        <h6 class="date">14.09.2024</h6>
                        <h4 class="discreption">Yunus Rajabiy nomidagi Jizzax viloyati musiqali drama teatri
                            ijodkorlari tomonidan rus dramaturgi A.P.Chexovning ''Jon achchig'ida'' nomli bir pardali
                            dramasi namoyish etildi.</h4>
                    </div>
                    <div class="btn">
                        <button>Batafsil</button>
                    </div>
                </div>
            </div>
            <div class="newst-item">
                <img src="../assets/images/news/1.png" alt="">
                <div class="body">
                    <div class="text">
                        <h6 class="date">14.09.2024</h6>
                        <h4 class="discreption">Yunus Rajabiy nomidagi Jizzax viloyati musiqali drama teatri
                            ijodkorlari tomonidan rus dramaturgi A.P.Chexovning ''Jon achchig'ida'' nomli bir pardali
                            dramasi namoyish etildi.</h4>
                    </div>
                    <div class="btn">
                        <button>Batafsil</button>
                    </div>
                </div>
            </div>
            <div class="newst-item">
                <img src="../assets/images/news/1.png" alt="">
                <div class="body">
                    <div class="text">
                        <h6 class="date">14.09.2024</h6>
                        <h4 class="discreption">Yunus Rajabiy nomidagi Jizzax viloyati musiqali drama teatri
                            ijodkorlari tomonidan rus dramaturgi A.P.Chexovning ''Jon achchig'ida'' nomli bir pardali
                            dramasi namoyish etildi.</h4>
                    </div>
                    <div class="btn">
                        <button>Batafsil</button>
                    </div>
                </div>
            </div>
            <div class="newst-item">
                <img src="../assets/images/news/1.png" alt="">
                <div class="body">
                    <div class="text">
                        <h6 class="date">14.09.2024</h6>
                        <h4 class="discreption">Yunus Rajabiy nomidagi Jizzax viloyati musiqali drama teatri
                            ijodkorlari tomonidan rus dramaturgi A.P.Chexovning ''Jon achchig'ida'' nomli bir pardali
                            dramasi namoyish etildi.</h4>
                    </div>
                    <div class="btn">
                        <button>Batafsil</button>
                    </div>
                </div>
            </div>
            <div class="newst-item">
                <img src="../assets/images/news/1.png" alt="">
                <div class="body">
                    <div class="text">
                        <h6 class="date">14.09.2024</h6>
                        <h4 class="discreption">Yunus Rajabiy nomidagi Jizzax viloyati musiqali drama teatri
                            ijodkorlari tomonidan rus dramaturgi A.P.Chexovning ''Jon achchig'ida'' nomli bir pardali
                            dramasi namoyish etildi.</h4>
                    </div>
                    <div class="btn">
                        <button>Batafsil</button>
                    </div>
                </div>
            </div>
            <div class="newst-item">
                <img src="../assets/images/news/1.png" alt="">
                <div class="body">
                    <div class="text">
                        <h6 class="date">14.09.2024</h6>
                        <h4 class="discreption">Yunus Rajabiy nomidagi Jizzax viloyati musiqali drama teatri
                            ijodkorlari tomonidan rus dramaturgi A.P.Chexovning ''Jon achchig'ida'' nomli bir pardali
                            dramasi namoyish etildi.</h4>
                    </div>
                    <div class="btn">
                        <button>Batafsil</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="footer" data-aos="fade-up" data-aos-duration="1200">
        <div class="img">
            <img class="img1" src="../assets/images/Footer/img1.png" alt="">
            <img class="img2" src="../assets/images/Footer/img2.png" alt="">
            <img class="img3" src="../assets/images/Footer/img3.png" alt="">
        </div>
        <div class="footer">
            <div class="body">
                <div class="logoItem">
                    <div>
                        <img class="itemLogo" src="../assets/images/logo_white.png" alt="">
                        <p class="itemText">
                            Mirzo Ulug‘bek nomidagi <br>
                            O`zbekiston Milliy universiteti <br>
                            Jizzax filiali
                        </p>
                    </div>
                </div>
                <div class="group">
                    <div class="fItem">
                        <div class="header">
                            <p>Bog`lanish uchun</p>
                            <div class="line"></div>
                        </div>
                        <div class="body">
                            <a href="" class="item">
                                <div class="logo">
                                    <img src="../assets/images/Footer/email.svg" alt="">
                                </div>
                                <div class="text">info@jbnuu.uz</div>
                            </a>
                            <a href="" class="item">
                                <div class="logo">
                                    <img src="../assets/images/Footer/phone.svg" alt="">
                                </div>
                                <div class="text">(998) 72-226-01-70</div>
                            </a>
                            <a href="" class="item">
                                <div class="logo">
                                    <img src="../assets/images/Footer/fax.svg" alt="">
                                </div>
                                <div class="text">(998) 72-226-01-70</div>
                            </a>
                            <a href="" class="item" style="align-items: start;">
                                <div class="logo">
                                    <img src="../assets/images/Footer/clock.svg" alt="">
                                </div>
                                <div class="text">Ish kuni: Dushanba-Shanba Ish vaqti: 8:30-12:30 13:30-16:30</div>
                            </a>
                        </div>
                    </div>

                    <div class="fItem">
                        <div class="header">
                            <p>Ijtimoiy tarmoqlarda</p>
                            <div class="line"></div>
                        </div>
                        <div class="body">
                            <a href="" class="item">
                                <div class="logo">
                                    <img src="../assets/images/Footer/telegram.svg" alt="">
                                </div>
                                <div class="text">info@jbnuu.uz</div>
                            </a>
                            <a href="" class="item">
                                <div class="logo">
                                    <img src="../assets/images/Footer/instagram.svg" alt="">
                                </div>
                                <div class="text">Instagram ijtimoy sahifamiz</div>
                            </a>
                            <a href="" class="item">
                                <div class="logo">
                                    <img src="../assets/images/Footer/facebook.svg" alt="">
                                </div>
                                <div class="text">Facebook ijtimoy sahifamiz</div>
                            </a>
                            <a href="" class="item">
                                <div class="logo">
                                    <img src="../assets/images/Footer/youtube.svg" alt="">
                                </div>
                                <div class="text">Youtube kanalimiz</div>
                            </a>
                            <a href="" class="item">
                                <div class="logo">
                                    <img src="../assets/images/Footer/tg_bot.svg" alt="">
                                </div>
                                <div class="text">Murojaatingizni telegram <br> botimizga qoldiring</div>
                            </a>
                        </div>
                    </div>

                    <div class="fItem">
                        <div class="header">
                            <p>Manzil</p>
                            <div class="line"></div>
                        </div>
                        <div class="body">
                            <a href="" class="item" style="align-items: start;">
                                <div class="logo">
                                    <img src="../assets/images/Footer/location.svg" alt="">
                                </div>
                                <div class="text">Mirzo Ulug‘bek nomidagi O‘zbekiston Milliy
                                    universitetining Jizzax filiali 130100, Jizzax
                                    viloyati, Jizzax shahri Sh.Rashidov shox
                                    ko'chasi, 259 uy</div>
                            </a>
                            <a href="" class="item" style="width: 100%; align-items: center; justify-content: center;">
                                <div class="android">
                                    <img src="../assets/images/Footer/android.svg" alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyRight">
                Copyright © 2024 Mirzo Ulug‘bek nomidagi O‘zbekiston milliy universiteti
                Jizzax filiali. Sayt test rejimida ishlamoqda.
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>

</html>