<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jbnuu-Yangiliklar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/main/css/style.css">
    <link rel="stylesheet" href="../assets/newsview/css/style.css">
    <link rel="stylesheet" href="../assets/main/css/swiper-bundle.min.css" />
</head>

<body>
    <div id="header">
        <div>
            <div class="symbols">
                <a href="#">
                    <img style="width: 2rem;" src="assets/images/flag.png" alt="">
                </a>
                <a href="#">
                    <img src="assets/images/gerb.png" alt="">
                </a>
                <a href="#">
                    <img src="assets/images/nota.svg" alt="">
                </a>
            </div>

            <div class="links">
                <a href="#">
                    <img style="width: 1.2rem;" src="assets/images/Calendar.svg" alt="">
                    <h6>17.08.2024, shanba 17:00</h6>
                </a>
                <a href="#">
                    <img src="assets/images/table.svg" alt="">
                    <h6>Talabalar dars jadvali</h6>
                </a>
                <a href="#">
                    <img src="assets/images/e-book.svg" alt="">
                    <h6>Elektron kutubxona</h6>
                </a>
            </div>

            <div class="search">
                <i class="search__icon fa fa-search"></i>
                <input type="search" class="search__input" placeholder="Qidiruv">
            </div>

            <div class="language">
                <div class="box">
                    <img src="assets/images/language.svg" alt="">
                    <div class="lang">
                        <h6>Uz</h6>
                        <p>|</p>
                        <h6>Ru</h6>
                        <p>|</p>
                        <h6>En</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="navbar">
        <a href="../index.html" class="logoItem">
            <img class="logo" src="../assets/images/logo.png" alt="">
            <p class="logoText">
                MIRZO ULUG‘BEK NOMIDAGI <br>
                O‘ZBEKISTON MILLIY UNIVERSITETI <br>
                JIZZAX FILIALI <br>
            </p>
        </a>

        <div class="connect">
            <div class="item">
                <img src="../assets/images/call_center 1.svg" alt="">
                <div class="number">
                    <p>72-226-01-71</p>
                </div>
            </div>

            <div class="item">
                <img src="../assets/images/phone.svg" alt="">
                <div class="number">
                    <p>72-226-01-71</p>
                    <p>72-226-01-71</p>
                </div>
            </div>
        </div>

        <div class="navBtns">
            <div class="navBtn btn1">
                <div class="text">
                    <p>Yangiliklar</p>
                    <img src="../assets/images/dropdowArrow.svg" alt="">
                </div>
                <ul class="menu">
                    <li>
                        <a href="#" class="menuItem">Yangiliklar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">E'lonlar</a>
                    </li>
                </ul>
            </div>
            <div class="navBtn btn2">
                <div class="text">
                    <p>Filial</p>
                    <img src="../assets/images/dropdowArrow.svg" alt="">
                </div>
                <ul class="menu">
                    <li>
                        <a href="#" class="menuItem">Universitet haqida</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Filial tarixi</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Filial tuzilmasi</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Filial kengashi</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Rahbariyat</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Markazlar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Bo'limlar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Karyera markazi</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Sektorlar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Fakultetlar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Kafedralar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Bo‘sh ish o‘rinlari</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Bino inshoatlar joylashuvi</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Rekvizitlar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Asosiy me'yoriy hujjatlar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Manfaatlar to'qnashuvi to'g'risida</a>
                    </li>
                </ul>
            </div>
            <div class="navBtn btn3">
                <div class="text">
                    <p>Qabul-2024</p>
                    <img src="../assets/images/dropdowArrow.svg" alt="">
                </div>
                <ul class="menu">
                    <li>
                        <a href="#" class="menuItem">Imtihon natijalari 2024-2025</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Filial tarixi</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Filial tuzilmasi</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Filial kengashi</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Rahbariyat</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Markazlar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Bo'limlar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Karyera markazi</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Sektorlar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Fakultetlar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Kafedralar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Bo‘sh ish o‘rinlari</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Bino inshoatlar joylashuvi</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Rekvizitlar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Asosiy me'yoriy hujjatlar</a>
                    </li>
                    <li>
                        <a href="#" class="menuItem">Manfaatlar to'qnashuvi to'g'risida</a>
                    </li>
                </ul>
            </div>
            <div class="navBtn btn4">
                <div class="text">
                    <p>Doktorantura</p>
                    <img src="../assets/images/dropdowArrow.svg" alt="">
                </div>
            </div>
            <div class="navBtn btn5">
                <div class="text">
                    <p>Interaktiv xizmatlar</p>
                    <img src="../assets/images/dropdowArrow.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <section id="crambs" class="crambs">
        <div class="crambs-title">
            <svg width="390" height="69" viewBox="0 0 390 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.99986 0.468018H389.411L356.411 18.468H-26L6.99986 0.468018Z" fill="#537188" />
                <path d="M-85.0001 25.468H297.411L264.411 43.468H-118L-85.0001 25.468Z" fill="#537188" />
                <path d="M-172 50.468H210.411L177.411 68.468H-205L-172 50.468Z" fill="#537188" />
            </svg>
            <p class="crambs-title__text">Yangiliklar</p>
            <svg width="386" height="69" viewBox="0 0 386 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M212 0.468018H594.411L561.411 18.468H179L212 0.468018Z" fill="#537188" />
                <path d="M120 25.468H502.411L469.411 43.468H87L120 25.468Z" fill="#537188" />
                <path d="M32.9999 50.468H415.411L382.411 68.468H0L32.9999 50.468Z" fill="#537188" />
            </svg>
        </div>
        <div class="crambs-body">
            <div class="crambs-body__item">
                <a class="crambs-body__item_link" href="../index.html">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_2361_1208)">
                            <path d="M5 12.6498H3L12 3.64984L21 12.6498H19" stroke="#537188" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M5 12.6498V19.6498C5 20.1803 5.21071 20.689 5.58579 21.0641C5.96086 21.4391 6.46957 21.6498 7 21.6498H17C17.5304 21.6498 18.0391 21.4391 18.4142 21.0641C18.7893 20.689 19 20.1803 19 19.6498V12.6498"
                                stroke="#537188" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M9 21.6498V15.6498C9 15.1194 9.21071 14.6107 9.58579 14.2356C9.96086 13.8606 10.4696 13.6498 11 13.6498H13C13.5304 13.6498 14.0391 13.8606 14.4142 14.2356C14.7893 14.6107 15 15.1194 15 15.6498V21.6498"
                                stroke="#537188" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </g>
                        <defs>
                            <clipPath id="clip0_2361_1208">
                                <rect width="24" height="24" fill="white" transform="translate(0 0.649841)" />
                            </clipPath>
                        </defs>
                    </svg>
                </a>
                <div class="crambs-body__item_dot"></div>
                <a class="crambs-body__item_link" href="news.html">Yangiliklar</a>
            </div>
        </div>
    </section>

    <section id="newsviewt" class="newsviewt">
        <div class="container">
            <div class="view">
                <img src="../assets/images/announ/2.jpg" alt="">
                <div class="date">30.10.2024</div>
                <div class="text">
                    <div class="text-title">
                        Oʻzbekiston Milliy universiteti Jizzax filialidagi boshlangʻich tashkiloti Yoshlar Kengash aʼzolari saylab olindi hamda yoshlar yetakchisining yangi oʻquv yili uchun faoliyatiga start berildi.
                    </div>
                    <div class="text-body">
                                       Yoshlar ittifoqi Kengash aʼzolari saylab olindi.
                                Joriy yilning 19-sentabr kuni Oʻzbekiston yoshlar ittifoqining Mirzo Ulugʻbek nomidagi Oʻzbekiston Milliy universiteti Jizzax filialidagi boshlangʻich tashkiloti Yoshlar Kengash aʼzolari saylab olindi hamda yoshlar yetakchisining yangi oʻquv yili uchun faoliyatiga start berildi. <br>
                                Hisobot-saylov yigʻilishini filial Yoshlar bilan ishlash maʼnaviyat va maʼrifat ishlari boʻyicha direktorning birinchi oʻrinbosari A.Baboyev olib bordi.
                        Hisobot-saylov yigʻilishida ishtirok etgan Oʻzbekiston yoshlar ittifoqi Jizzax viloyat Kengashi tashkiliy kadrlar boʻlimi boshligʻi Q.Mustafoqulov ham yoshlar ittifoqining fakultet va yoʻnalish koordinatorligi uchun nomzodlarga oʻz fikrlarini bildirib oʻtdi. <br>
                            Oʻquv yili davomida amalga oshirilishi kerak boʻlgan vazifalar yuzasidan fikr va mulohazalar tinglandi.
                    </div>
                    <div class="images">
                        <img src="../assets/images/news/1.png" alt="">
                        <img src="../assets/images/news/2.png" alt="">
                        <img src="../assets/images/news/3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="newsviewt-item">
                    <img src="../assets/images/news/1.png" alt="">
                    <div class="body">
                        <div class="text">
                            <h6 class="date">14.09.2024</h6>
                            <h4 class="discreption">Yunus Rajabiy nomidagi Jizzax viloyati musiqali drama teatri
                                ijodkorlari tomonidan rus dramaturgi A.P.Chexovning ''Jon achchig'ida'' nomli bir pardali
                                dramasi namoyish etildi.</h4>
                        </div>
                        <div class="btn">
                            <a href="newsview.html">Batafsil</a>
                        </div>
                    </div>
                </div>
                <div class="newsviewt-item">
                    <img src="../assets/images/news/1.png" alt="">
                    <div class="body">
                        <div class="text">
                            <h6 class="date">14.09.2024</h6>
                            <h4 class="discreption">Yunus Rajabiy nomidagi Jizzax viloyati musiqali drama teatri
                                ijodkorlari tomonidan rus dramaturgi A.P.Chexovning ''Jon achchig'ida'' nomli bir pardali
                                dramasi namoyish etildi.</h4>
                        </div>
                        <div class="btn">
                            <a href="newsview.html">Batafsil</a>
                        </div>
                    </div>
                </div>
                <div class="newsviewt-item">
                    <img src="../assets/images/news/1.png" alt="">
                    <div class="body">
                        <div class="text">
                            <h6 class="date">14.09.2024</h6>
                            <h4 class="discreption">Yunus Rajabiy nomidagi Jizzax viloyati musiqali drama teatri
                                ijodkorlari tomonidan rus dramaturgi A.P.Chexovning ''Jon achchig'ida'' nomli bir pardali
                                dramasi namoyish etildi.</h4>
                        </div>
                        <div class="btn">
                            <a href="newsview.html">Batafsil</a>
                        </div>
                    </div>
                </div>
                <div class="newsviewt-item">
                    <img src="../assets/images/news/1.png" alt="">
                    <div class="body">
                        <div class="text">
                            <h6 class="date">14.09.2024</h6>
                            <h4 class="discreption">Yunus Rajabiy nomidagi Jizzax viloyati musiqali drama teatri
                                ijodkorlari tomonidan rus dramaturgi A.P.Chexovning ''Jon achchig'ida'' nomli bir pardali
                                dramasi namoyish etildi.</h4>
                        </div>
                        <div class="btn">
                            <a href="newsview.html">Batafsil</a>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </section>

    <div id="footer" data-aos="fade-up" data-aos-duration="1200">
        <div class="img">
            <img class="img1" src="../assets/images/Footer/img1.png" alt="">
            <img class="img2" src="../assets/images/Footer/img2.png" alt="">
            <img class="img3" src="../assets/images/Footer/img3.png" alt="">
        </div>
        <div class="footer">
            <div class="body">
                <div class="logoItem">
                    <div>
                        <img class="itemLogo" src="../assets/images/logo_white.png" alt="">
                        <p class="itemText">
                            Mirzo Ulug‘bek nomidagi <br>
                            O`zbekiston Milliy universiteti <br>
                            Jizzax filiali
                        </p>
                    </div>
                </div>
                <div class="group">
                    <div class="fItem">
                        <div class="header">
                            <p>Bog`lanish uchun</p>
                            <div class="line"></div>
                        </div>
                        <div class="body">
                            <a href="" class="item">
                                <div class="logo">
                                    <img src="../assets/images/Footer/email.svg" alt="">
                                </div>
                                <div class="text">info@jbnuu.uz</div>
                            </a>
                            <a href="" class="item">
                                <div class="logo">
                                    <img src="../assets/images/Footer/phone.svg" alt="">
                                </div>
                                <div class="text">(998) 72-226-01-70</div>
                            </a>
                            <a href="" class="item">
                                <div class="logo">
                                    <img src="../assets/images/Footer/fax.svg" alt="">
                                </div>
                                <div class="text">(998) 72-226-01-70</div>
                            </a>
                            <a href="" class="item" style="align-items: start;">
                                <div class="logo">
                                    <img src="../assets/images/Footer/clock.svg" alt="">
                                </div>
                                <div class="text">Ish kuni: Dushanba-ShanbaIsh vaqti: 8:30-12:30 13:30-16:30</div>
                            </a>
                        </div>
                    </div>

                    <div class="fItem">
                        <div class="header">
                            <p>Ijtimoiy tarmoqlarda</p>
                            <div class="line"></div>
                        </div>
                        <div class="body">
                            <a href="" class="item">
                                <div class="logo">
                                    <img src="../assets/images/Footer/telegram.svg" alt="">
                                </div>
                                <div class="text">info@jbnuu.uz</div>
                            </a>
                            <a href="" class="item">
                                <div class="logo">
                                    <img src="../assets/images/Footer/instagram.svg" alt="">
                                </div>
                                <div class="text">Instagram ijtimoy sahifamiz</div>
                            </a>
                            <a href="" class="item">
                                <div class="logo">
                                    <img src="../assets/images/Footer/facebook.svg" alt="">
                                </div>
                                <div class="text">Facebook ijtimoy sahifamiz</div>
                            </a>
                            <a href="" class="item">
                                <div class="logo">
                                    <img src="../assets/images/Footer/youtube.svg" alt="">
                                </div>
                                <div class="text">Youtube kanalimiz</div>
                            </a>
                            <a href="" class="item">
                                <div class="logo">
                                    <img src="../assets/images/Footer/tg_bot.svg" alt="">
                                </div>
                                <div class="text">Murojaatingizni telegram <br> botimizga qoldiring</div>
                            </a>
                        </div>
                    </div>

                    <div class="fItem">
                        <div class="header">
                            <p>Manzil</p>
                            <div class="line"></div>
                        </div>
                        <div class="body">
                            <a href="" class="item" style="align-items: start;">
                                <div class="logo">
                                    <img src="../assets/images/Footer/location.svg" alt="">
                                </div>
                                <div class="text">Mirzo Ulug‘bek nomidagi O‘zbekiston Milliy
                                    universitetining Jizzax filiali 130100, Jizzax
                                    viloyati, Jizzax shahri Sh.Rashidov shox
                                    ko'chasi, 259 uy</div>
                            </a>
                            <a href="" class="item" style="width: 100%; align-items: center; justify-content: center;">
                                <div class="android">
                                    <img src="../assets/images/Footer/android.svg" alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyRight">
                Copyright © 2024 Mirzo Ulug‘bek nomidagi O‘zbekiston milliy universiteti
                Jizzax filiali. Sayt test rejimida ishlamoqda.
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>

</html>