@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');
$font-stack: 'Aleo', sans-serif;
$text-font: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
$primary-color: #627e94;
$header-text-hover-color: #4DD0E1;
$text-color: #5d809b;
$text-color1: #204B6C;

body{
    .announview {
        .container {
            width: 100%;
            display: grid;
            grid-template-columns: 1.4fr 0.6fr;
            grid-template-rows: 1fr;
            gap: 30px 30px;
            grid-auto-flow: row;
            grid-template-areas:
                "view items";
        }
    
        .view {
            grid-area: view;
            border-radius: 8px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 10px;
            img{
                display: block;
                width: 100%;
                object-fit: cover;
            }
            .date{
                color: $text-color;
                font-size: 12px;
            }
            .text{
                display: flex;
                flex-direction: column;
                gap: 30px;
    
                .text-title{
                    font-size: 20px;
                    text-align: center;
                    color: $text-color;
                    font-weight: bold;
                }
                .text-body{
                    color: $text-color;
                    line-height: 1.5rem;
                }
    
                .images{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    gap: 30px 30px;
                    grid-auto-flow: row;
                    img{
                        height: 300px;
                        border: 1px solid $primary-color;
                        border-radius: 8px;
                    }
                }
            }
        }
    
        .items {
            grid-area: items;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
        }
    
        &-item {
            background-size: contain;
            border-radius: 8px;
            overflow: hidden;
            position: relative;
            height: 350px;
            padding: 1rem;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            display: flex;
            flex-direction: column;
            gap: 1rem;
            img {
                display: block;
                width: 100%;
                height: 60%;
                object-fit: cover;
                border-radius: 12px;
            }
            .body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative;
                gap: 2rem;
    
                .text {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    .date {
                        color:$text-color;
                        font-weight: normal;
                        font-size: 13px;
                    }
                    
                    .discreption {
                        color: $text-color;
                        font-size: 18px;
                    }
                }
    
                .btn {
                    text-align: end;
                    right: 0%;
                    bottom: 0%;
                    a {
                        padding: 0.5rem 2rem;
                        background: none;
                        border: 1px solid $primary-color;
                        color: $text-color;
                        border-radius: 30px;
                        cursor: pointer;
                        font-size: 15px;
                    }
    
                    a:hover {
                        background-color: rgba($color: $primary-color, $alpha: 71%);
                        color: #ffffff;
                    }
    
                    a:active {
                        background: local;
                        color: $text-color;
                    }
                }
            }
        }
    }
}